#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-2 .navbar-toggler {
  color: #000;
}
#ext_menu-1b .navbar-toggler {
  color: #000;
}
#ext_menu-1u .navbar-toggler {
  color: #000;
}
#ext_menu-24 .navbar-toggler {
  color: #000;
}
